<form action="Login" method="post">
    <div>
        <label>name</label>
        <input type="text" name="userName" required="required" />
    </div>
    <div>
        <label>password</label>
        <input type="password" name="userPass" required="required" />
    </div>
    <input type="submit" value="Sign In"/>
</form>
    <form action="Create">
        <div style="position:absolute;top:8%;right:13%">
            <input type="submit" value="Sign Up"/>
            @*<input type="button"value="Sign In"onclick="window.location='/users/Login'" />*@
            @*<button onclick="window.location='/users/Login'">Sign In</button>
            <button onclick="window.location='/users/Create'">Sign Up</button>*@
        </div>
    </form>


